<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') %>
	<script>
		function ins_isEmpty(event) {
			let domain =  document.querySelector("#ins_form");
			if (!domain.value){
				alert("등록할 도메인 입력해주세요.");
				return false;
			}
			return true;
		}
		function del_isEmpty(event) {
			let domain =  document.querySelector("#del_form");
			if (!domain.value){
				alert("삭제할 도메인 입력해주세요.");
				return false
			}
			return true;
		}
	</script>
	<style>
		select{
			text-align: center;
			width: 105px;
		}
	</style>
	</head>
	<body>
		<%- include('../partials/nav') %>

		<div class="container mb-3">
		<div class="jumbotron">
		<form class = "form" action = "/setting" method = "post" 						onsubmit="return ins_isEmpty();">
			<ul>
			<p>
				<select name = "Ins_domain">
				    <option value="">차단 사유</option>
				    <option value="게임 사이트">게임 사이트</option>
				    <option value="성인 사이트">성인 사이트</option>
				    <option value="기타/그 외">기타/그 외</option>
				</select>
				<input class = "input" id = "ins_form" type = "text" name = "Ins_domain" 					placeholder = "추가할 도메인" autocomplete = "off">
				<input class = "submit" type="submit" value = "추가">
			</p>
			</ul>
		</form>
		<form class = "form" action = "/setting" method = "post" 						   onsubmit="return del_isEmpty()">
			<ul>
			<p>
				<input class = "input" id = "del_form" type = "text" name = "Del_domain" 					placeholder = "삭제할 도메인" autocomplete = "off">
				<input class = "submit" type="submit" value = "제거">
			</p>
			</ul>
		</form>
		
		<table class = "table">
            	<thead>
			<tr>
				<th>차단할 도메인</th>
				<th>차단 사유</th>
				<th>추가 일시</th>
			</tr>
		</thead>
		
		<tbody>
			<% log_data.forEach(item => {%>
			<tr>
				<td><%=item.domain_name%></td>
				<td><%=item.comment%></td>
				<td><%=item.created_at%></td>
			</tr>
			<% }); %>
		</tbody>
		
		</table>
		</div>
		</div>
	</body>
</html>
