<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">         
            <table>
		  <tr>
		    <th>ID</th>
		    <th>출발지 IP</th>
			<th>도착지 IP</th>
			<th>출발지 Port</th>
			<th>도착지 Port</th>
			<th>도메인</th>
			<th>결과값</th>
			<th>패킷크기</th>
			<th>발생시간</th>
		  </tr>
		  <% log_data.forEach(item => {%>
		  <tr>
                  <td><%=item.id%></td>
                  <td><%=item.src_ip%></td>
				  <td><%=item.dst_ip%></td>
				  <td><%=item.src_port%></td>
				  <td><%=item.dst_port%></td>
				  <td><%=item.domain%></td>
				  <td><%=item.result%></td>
				  <td><%=item.pkt_size%></td>
				  <td><%=item.created_at%></td>
               </tr>
                  <% }); %>
  		 </table>
      </div>

    </div>
  </body>
</html>
